* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /*variables*/
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: "Inter", sans-serif;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.0rem;
}

main {
    min-width: 325px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    min-width: 326px;
    margin-bottom: 40px;
}


.list-container {
    display: flex;
    flex-direction: row;
    min-width: 327px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

ul {
    max-height: 264px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* Remove bullets */
}

li {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);
    margin-bottom: 12px;
    height: 57px;
    border-radius: 12px;
    padding: 12px;
}



p {
    min-width: 300px;
}

/* Footer oculto por padrão */
footer {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Footer visível */
footer.visible {
    display: flex;
}


footer div {
    background-color: var(--color-danger);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    min-width: 327px;
    padding: 12px;
    gap: 8px;
}

span {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

#checkbox {
    cursor: pointer;
}

#add-item,
#item {
    height: 44px;
    border-radius: 12px;
    border: none;
}

#add-item {
    background-color: var(--color-brand);
}

#add-item:hover {
    background-color: var(--color-brand-hover);
}

#item {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    padding: 18px;
}

@media (min-width: 700px) {

    h1 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: bold;
        margin-right: 355px;
    }

    a {
        text-decoration: none;
        display: block;
        margin-right: 565px;
        margin-bottom: 16px;
    }

    main {
        width: 627px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 100%;
        flex-direction: column;
    }

    #item,
    #add-item {
        width: 100%;
    }

    ul {
        max-height: 264px;
        overflow-y: auto;
        width: 100%;
    }

    .list-container {
        width: 100%;
    }

    footer {
        display: flex;
        /* Exibe o footer */
        width: 627px;
        /* Ajusta a largura para a mesma do main */
    }

    span {
        width: 627px;
        text-align: left;
    }
}